for loop & while loop
#for- step based loop
* for i in range(10):
    print(i)
~ used for
    - iterating over asequence(list,tuple,string)
    - iterating over range

#while -condition based loop
* i=0
  while i<10:
    print(i)
    i+=1
~ used for
    - iterating until a condition is met
    - iterating until a condition is no longer met 
    - A iterating forever (if you don't break out of 
    it )

In [1]:
i=0
while i<10:
    print(i)
    i-=1

0
1
2
3
4
5
6
7
8
9

In [4]:
movies=['shrek','kungfu panda','how to train your dragon','shehazada',
        'kisi ka bhai kisi ki jaan','Aladdin','jungal book',
        'Adipurosh','sanam teri kasam']

In [5]:
print(f'total=movies={len(movies)}')

total=movies=9

In [6]:
for movie in movies:
    print(movie)

shrek
kungfu panda
how to train your dragon
shehazada
kisi ka bhai kisi ki jaan
Aladdin
jungal book
Adipurosh
sanam teri kasam

In [7]:
for movie in movies:
    print(movie,len(movie))

shrek 5
kungfu panda 12
how to train your dragon 24
shehazada 9
kisi ka bhai kisi ki jaan 25
Aladdin 7
jungal book 11
Adipurosh 9
sanam teri kasam 16

In [11]:
for movie in movies:
    print(f'{movie:35} {len(movie)}')

shrek                               5
kungfu panda                        12
how to train your dragon            24
shehazada                           9
kisi ka bhai kisi ki jaan           25
Aladdin                             7
jungal book                         11
Adipurosh                           9
sanam teri kasam                    16

In [28]:
nums = [32,56,23,56,12,87,56,7,69,3,]
for i in nums:
    print(i,i**3)

32 32768
56 175616
23 12167
56 175616
12 1728
87 658503
56 175616
7 343
69 328509
3 27

In [29]:
for i in nums:
    if i%2!=0:
        print(i,i**2)

23 529
87 7569
7 49
69 4761
3 9

In [30]:
for i in nums:
    if i%2==0:
        print(i,i**2)

32 1024
56 3136
56 3136
12 144
56 3136

In [31]:
sum(nums)

401

In [25]:
total_even = 0
for i in nums:
    if i %2 ==0:
        total_even += i
print(total_even)

224

In [32]:
total_even = 0
for i in nums:
    if i %2 !=0:
        total_even += i
print(total_even)

189

In [34]:
for i in nums:
    print(i)
    if i > 60:
        break

32
56
23
56
12
87

In [37]:
x = ["Apple",'potato','banana','','orange','mango']
for item in x:
    print(item)

Apple
potato
banana

orange
mango

In [39]:
x = ["Apple",'potato','banana','','orange','mango']
for item in x:
    if len(item) == 0:
        break
    print(item)

Apple
potato
banana

In [41]:
errors =0
while True:
    username = input ('Enter username:')
    password = input ('enter password:')
    if username == 'admin' and password == 'secret':
        print('login successful')
        break
    elif errors == 3:
        print('too many errors')
        break
    else:
        print('invalid username/password')
        errors += 1

login successful